body{
    align-items: center
}
button{
    background: rgb(1, 29, 51);
    border-color: transparent;
    color: #fff;
    cursor: pointer;
    box-sizing: border-box;
    display: block;
    width: 10%;
    background: #28d;
    padding: 20px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    border-width: 1px;
    border-style: solid;
    padding: 16px;
    outline: 0;
    font-family: inherit;
    font-size: 0.95em;
}
